<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Receitas</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <header>
        <h1>Minhas Receitas</h1>
    </header>
    <div class="container">
        <div class="header-buttons">
            <button id="post-recipe-btn">
                <a href="{{ url_for('post_receita') }}">Postar Nova Receita</a>
            </button>
            <a href="#" id="logout">Sair da conta</a>
        </div>
        <div class="my-recipes">
            <h2>Minhas Receitas</h2>
            <ul id="my-recipes-list">
                {% for ingredientes in receita %}
                    <li>{{ ingredientes[1] }}</li>
                {% endfor %}
            </ul>            
        </div>        
        <div class="popular-recipes">
            <h2>Receitas dos Outros Usuários</h2>
            <ul id="popular-recipes-list">
                {% for receita in outro_user_receita %}
                    <li>{{ receita[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <form id="recipe-form">
            <input type="hidden" id="recipe-id" name="recipe-id">
            <label for="recipe-title">Título da Receita</label>
            <input type="text" id="recipe-title" name="recipe-title" required>
            
            <label for="recipe-description">Descrição</label>
            <textarea id="recipe-description" name="recipe-description" rows="4" required></textarea>
            
            <label for="recipe-instructions">Como Preparar</label>
            <textarea id="recipe-instructions" name="recipe-instructions" rows="6" required></textarea>
            
            <button type="button" onclick="saveRecipe()">Salvar Receita</button>
            <button type="button" onclick="deleteRecipe()">Excluir Receita</button>
            <button type="button" onclick="cancelEdit()">Cancelar</button>
        </form>
        
    </div>
    <script src="/static/login.js" type="module"></script>
</body>
</html>