<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minhas Receitas</title>
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    </head>
<body>
    <header>
        <h1>Minhas Receitas</h1>
    </header>
    <div class="container">
        <div class="header-buttons">
            <button id="post-recipe-btn">
                <a href="{{ url_for('post_receita') }}">Postar Nova Receita</a>
            </button>
            <a href="#" id="logout">Sair da conta</a>
        </div>
        <div class="my-recipes">
            <h2>Minhas Receitas</h2>
            <ul id="my-recipes-list">
                {% for user_receita in receita %}
                    <li>
                        <a href="{{ url_for('view_recipe', post_id=user_receita[4]) }}">{{ user_receita[1] }}</a>
                        {% if is_owner(user_receita[0]) %}
                            <form method="post" action="{{ url_for('edit_recipe', post_id=user_receita[4]) }}" style="display: inline;">
                                <button type="submit">Editar</button>
                            </form>
                            <form method="post" action="{{ url_for('delete_recipe', post_id=user_receita[4]) }}" style="display: inline;">
                                <button type="submit">Excluir</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}


            </ul>
            
        </div>
            
        <div class="popular-recipes">
            <h2>Receitas dos Outros Usuários</h2>
            <ul id="popular-recipes-list">
                {% for receita in outro_user_receita %}
                    <li><a href="{{ url_for('view_recipe', post_id=receita[4]) }}">{{ receita[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="/static/login.js" type="module"></script>
</body>
</html>


