<!-- recipe.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe[1] }}</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <header>
        <h1>{{ recipe[1] }}</h1>
    </header>
    <div class="container">
        <div class="recipe-details">
            <h2>Detalhes da Receita</h2>
            <p>Título: {{ recipe[1] }}</p>
            <p>Ingredientes: {{ recipe[2] }}</p>
            <p>Preparo: {{ recipe[3] }}</p>
        </div>
        {% if is_owner %}
            <div class="recipe-actions">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe[0]) }}">Editar Receita</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe[0]) }}">Excluir Receita</a>
            </div>
        {% endif %}
        <div class="back-link">
            <a href="{{ url_for('home', username=session.get('username')) }}">Voltar para Minhas Receitas</a>
        </div>
    </div>
</body>
</html>
